<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRGmT_dfikNHcMRLsQFPo7lvlIS8BlANU</string>
	<key>GCM_SENDER_ID</key>
	<string>1098307325660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cauldron.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cauldron-rop</string>
	<key>STORAGE_BUCKET</key>
	<string>cauldron-rop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098307325660:ios:1cf67ce5ef27924487ae19</string>
</dict>
</plist>